In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import os


#For inline plotting 
%matplotlib inline                 
%config InlineBackend.figure_format = 'svg'

# set plot properties to seaborn globally
plt.style.use("seaborn-v0_8-white")

-----
### Importing, Exploring and Cleaninging the Data
------

Load the raw data `loan_data_2007_2014.csv` and make a copy

In [2]:
current_dir = os.getcwd()
raw_data_dir = current_dir + "/raw_data"

consumer_loans_df_raw = pd.read_csv(raw_data_dir + '/loan_data_2007_2014.csv', low_memory = False)

consumer_loans_df = consumer_loans_df_raw.copy()

In [3]:
consumer_loans_df.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Drop `Unnamed: 0`, `id` and `member_id` columns as they do not carry useful information for modeling.

In [4]:
consumer_loans_df.drop(columns=['Unnamed: 0','id','member_id'], inplace=True)

Some columns are not shown, we need to change the default options in the pandas library

In [5]:
pd.options.display.max_columns = None

consumer_loans_df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print(f"Total number of columns {len(consumer_loans_df.columns.values)}")

Total number of columns 72

- Next, we explore the attributes in the data more closely and clean/impute when necessary

In [7]:
consumer_loans_df.columns.values

array(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype=object)

Import the description xlsx file for the columns

In [8]:
# the xlsx file that has the data description have 3 sheets

data_desc_xlsx = pd.ExcelFile(raw_data_dir + '/LCDataDictionary.xlsx')
print(data_desc_xlsx.sheet_names)  # See available sheets

['LoanStats', 'browseNotes', 'RejectStats']

In [9]:
import warnings
warnings.filterwarnings("ignore", category=UserWarning, module="openpyxl")

# descriptions of the data columns are in the 'LoanStats' sheet
consumer_loan_data_desc = data_desc_xlsx.parse('LoanStats')

In [10]:
# drop unnecessary rows and columns that does not have a description in the description df
consumer_loan_data_desc.dropna(inplace = True)

consumer_loan_data_desc.LoanStatNew.values

array(['acc_now_delinq', 'addr_state', 'all_util', 'annual_inc',
       'annual_inc_joint', 'application_type', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'delinq_2yrs', 'desc', 'dti',
       'dti_joint', 'earliest_cr_line', 'emp_length', 'emp_title',
       'fico_range_high', 'fico_range_low', 'funded_amnt',
       'funded_amnt_inv', 'grade', 'home_ownership', 'id', 'il_util',
       'initial_list_status', 'inq_fi', 'inq_last_12m', 'inq_last_6mths',
       'installment', 'int_rate', 'is_inc_v', 'issue_d',
       'last_credit_pull_d', 'last_fico_range_high',
       'last_fico_range_low', 'last_pymnt_amnt', 'last_pymnt_d',
       'loan_amnt', 'loan_status', 'max_bal_bc', 'member_id',
       'mths_since_last_delinq', 'mths_since_last_major_derog',
       'mths_since_last_record', 'mths_since_rcnt_il', 'next_pymnt_d',
       'open_acc', 'open_acc_6m', 'open_il_12m', 'open_il_24m',
       'open_il_6m', 'open_rv_12m', 'open_rv_24m', 'out_prncp',
       'out_prncp_inv', 'policy_code', 'pub_rec', 'purpose', 'pymnt_plan',
       'recoveries', 'revol_bal', 'revol_util', 'sub_grade', 'term',
       'title', 'tot_coll_amt', 'tot_cur_bal', 'total_acc',
       'total_bal_il', 'total_cu_tl', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp',
       'total_rev_hi_lim \xa0', 'url', 'verified_status_joint',
       'zip_code'], dtype=object)

In [11]:
# replace a weird looking one: total_rev_hi_lim \xa0

consumer_loan_data_desc.LoanStatNew = consumer_loan_data_desc.LoanStatNew.str.replace(r'\s+', '', regex=True)

In [12]:
consumer_loan_data_desc.LoanStatNew.values

array(['acc_now_delinq', 'addr_state', 'all_util', 'annual_inc',
       'annual_inc_joint', 'application_type', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'delinq_2yrs', 'desc', 'dti',
       'dti_joint', 'earliest_cr_line', 'emp_length', 'emp_title',
       'fico_range_high', 'fico_range_low', 'funded_amnt',
       'funded_amnt_inv', 'grade', 'home_ownership', 'id', 'il_util',
       'initial_list_status', 'inq_fi', 'inq_last_12m', 'inq_last_6mths',
       'installment', 'int_rate', 'is_inc_v', 'issue_d',
       'last_credit_pull_d', 'last_fico_range_high',
       'last_fico_range_low', 'last_pymnt_amnt', 'last_pymnt_d',
       'loan_amnt', 'loan_status', 'max_bal_bc', 'member_id',
       'mths_since_last_delinq', 'mths_since_last_major_derog',
       'mths_since_last_record', 'mths_since_rcnt_il', 'next_pymnt_d',
       'open_acc', 'open_acc_6m', 'open_il_12m', 'open_il_24m',
       'open_il_6m', 'open_rv_12m', 'open_rv_24m', 'out_prncp',
       'out_prncp_inv', 'policy_code', 'pub_rec', 'purpose', 'pymnt_plan',
       'recoveries', 'revol_bal', 'revol_util', 'sub_grade', 'term',
       'title', 'tot_coll_amt', 'tot_cur_bal', 'total_acc',
       'total_bal_il', 'total_cu_tl', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp',
       'total_rev_hi_lim', 'url', 'verified_status_joint', 'zip_code'],
      dtype=object)

In [13]:
# turn into a simple dictionary for easy access to column descriptions
col_desc_dict = consumer_loan_data_desc.set_index('LoanStatNew')['Description'].to_dict()

In [14]:
# check columns in loan data that only has one unique value, they can not be used as a predictor
single_unique_cols = [col for col in consumer_loans_df.columns if consumer_loans_df[col].nunique() == 1]

print("Columns with only one unique value:")
print(single_unique_cols)

Columns with only one unique value:
['policy_code', 'application_type']

In [15]:
consumer_loans_df.policy_code.unique(), consumer_loans_df.application_type.unique()

(array([1]), array(['INDIVIDUAL'], dtype=object))

In [16]:
col_desc_dict['policy_code']

'publicly available policy_code=1\nnew products not publicly available policy_code=2'

In [17]:
col_desc_dict['application_type']

'Indicates whether the loan is an individual application or a joint application with two co-borrowers'

In [18]:
# drop `policy_code` and `application_type`
consumer_loans_df.drop(columns = ['policy_code', 'application_type'], inplace = True)

In [19]:
# url and desc columns are also useless for model building
consumer_loans_df.drop(columns = ['url', 'desc'], inplace = True)

In [20]:
len(consumer_loans_df.columns)

68

We won't be using `zip_code` either as `addr_state` will be used to indicate the state of the borrower. In any case zip code is not a direct indicator of the borrowers' neighborhood, especially the first 3 numbers just indicate the postal center for mail which can be far away from the actual residence.

In [21]:
consumer_loans_df.drop(columns = ['zip_code'], inplace = True)

In [22]:
# explore columns with missing values
pd.options.display.max_rows = None

# ratio of missing values 
consumer_loans_df.isnull().sum()/ len(consumer_loans_df)

loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      0.059166
emp_length                     0.045054
home_ownership                 0.000000
annual_inc                     0.000009
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
purpose                        0.000000
title                          0.000045
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000062
earliest_cr_line               0.000062
inq_last_6mths                 0.000062
mths_since_last_delinq         0.536906
mths_since_last_record         0.865666
open_acc                       0.000062
pub_rec                        0.000062
revol_bal                      0.000000
revol_util                     0.000729
total_acc                      0.000062
initial_list_status            0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_pymnt_d                   0.000806
last_pymnt_amnt                0.000000
next_pymnt_d                   0.487286
last_credit_pull_d             0.000090
collections_12_mths_ex_med     0.000311
mths_since_last_major_derog    0.787739
annual_inc_joint               1.000000
dti_joint                      1.000000
verification_status_joint      1.000000
acc_now_delinq                 0.000062
tot_coll_amt                   0.150715
tot_cur_bal                    0.150715
open_acc_6m                    1.000000
open_il_6m                     1.000000
open_il_12m                    1.000000
open_il_24m                    1.000000
mths_since_rcnt_il             1.000000
total_bal_il                   1.000000
il_util                        1.000000
open_rv_12m                    1.000000
open_rv_24m                    1.000000
max_bal_bc                     1.000000
all_util                       1.000000
total_rev_hi_lim               0.150715
inq_fi                         1.000000
total_cu_tl                    1.000000
inq_last_12m                   1.000000
dtype: float64

Notice that there are many completely missing columns, some are not surprisingly have `_joint`, indicating an attribute for joint loan applications which is non-present in this data frame as the `application_type` was all individual. We first drop all columns that have all the values missing.

In [23]:
pd.options.display.max_rows = None

fully_missing_cols = consumer_loans_df.isnull().sum()[consumer_loans_df.isnull().sum()/ len(consumer_loans_df) == 1].keys().to_list()

consumer_loans_df.drop(columns = fully_missing_cols, inplace = True)

consumer_loans_df.isnull().sum() / len(consumer_loans_df)

loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      0.059166
emp_length                     0.045054
home_ownership                 0.000000
annual_inc                     0.000009
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
purpose                        0.000000
title                          0.000045
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000062
earliest_cr_line               0.000062
inq_last_6mths                 0.000062
mths_since_last_delinq         0.536906
mths_since_last_record         0.865666
open_acc                       0.000062
pub_rec                        0.000062
revol_bal                      0.000000
revol_util                     0.000729
total_acc                      0.000062
initial_list_status            0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_pymnt_d                   0.000806
last_pymnt_amnt                0.000000
next_pymnt_d                   0.487286
last_credit_pull_d             0.000090
collections_12_mths_ex_med     0.000311
mths_since_last_major_derog    0.787739
acc_now_delinq                 0.000062
tot_coll_amt                   0.150715
tot_cur_bal                    0.150715
total_rev_hi_lim               0.150715
dtype: float64

There are still some columns that have significant portion of missing data. Let's identify them:

In [24]:
(consumer_loans_df.isnull().sum()/ len(consumer_loans_df))[consumer_loans_df.isnull().sum()/ len(consumer_loans_df) > 0.4]

mths_since_last_delinq         0.536906
mths_since_last_record         0.865666
next_pymnt_d                   0.487286
mths_since_last_major_derog    0.787739
dtype: float64

In [25]:
significant_missing_cols = ((consumer_loans_df.isnull().sum()/ len(consumer_loans_df))[consumer_loans_df.isnull().sum()/ len(consumer_loans_df) > 0.4]
                            .keys().to_list())

for col in significant_missing_cols:
    
    print(f"{col}: {col_desc_dict[col]}")

mths_since_last_delinq: The number of months since the borrower's last delinquency.
mths_since_last_record: The number of months since the last public record.
next_pymnt_d: Next scheduled payment date
mths_since_last_major_derog: Months since most recent 90-day or worse rating

For a static probability default model `next_pymnt_d` would cause data leakage as this variable is not known at the time of loan origination. We will drop it. 

 - The other variables, `mths_since_last_delinq`, `mths_since_last_record` and `mths_since_last_major_derog` come from the borrower’s credit report obtained from a credit bureau at the time of loan application. LendingClub pulls this credit data from major U.S. credit bureaus: Equifax, Experian, TransUnion. This pull happens when the borrower applies for the loan. The credit report gives a snapshot of the borrower's credit history; e.g time passed since last delay for a loan (`mths_since_last_delinq`), the number of months since the borrower’s last public derogatory record (`mths_since_last_record`), such as: Bankruptcy, Tax lien, Civil judgment and the number of months since the borrower’s most recent major derogatory event (typically a 90+ day delinquency, charge-off, or serious delinquent trade) (`mths_since_last_major_derog`). 
- The missing values for these variables are actually not a problem — and in fact, it's very informative if we handle it correctly. Missing values here may imply good credit! This makes these missing values highly predictive — and we can even treat them as a separate category, by not just imputing blindly. This way the model can learn if a negative event ever happened as well as recency of the event which could provide additional information.

In [26]:
pd.options.display.max_rows = None

# just drop next_pymnt_d
consumer_loans_df.drop(columns = significant_missing_cols[2], inplace = True)

consumer_loans_df.isnull().sum() / len(consumer_loans_df)

loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      0.059166
emp_length                     0.045054
home_ownership                 0.000000
annual_inc                     0.000009
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
purpose                        0.000000
title                          0.000045
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000062
earliest_cr_line               0.000062
inq_last_6mths                 0.000062
mths_since_last_delinq         0.536906
mths_since_last_record         0.865666
open_acc                       0.000062
pub_rec                        0.000062
revol_bal                      0.000000
revol_util                     0.000729
total_acc                      0.000062
initial_list_status            0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_pymnt_d                   0.000806
last_pymnt_amnt                0.000000
last_credit_pull_d             0.000090
collections_12_mths_ex_med     0.000311
mths_since_last_major_derog    0.787739
acc_now_delinq                 0.000062
tot_coll_amt                   0.150715
tot_cur_bal                    0.150715
total_rev_hi_lim               0.150715
dtype: float64

Finally, object dtype `title` (loan title) and `emp_title` (employment title) columns do not contain useful qualitative/quantitative measure for the PD model. So we will drop them as well.

In [27]:
col_desc_dict['title']

'The loan title provided by the borrower'

In [28]:
len(consumer_loans_df.title.unique())

63099

In [29]:
col_desc_dict['emp_title']

'The job title supplied by the Borrower when applying for the loan.*'

In [30]:
len(consumer_loans_df.emp_title.unique())

205476

In [31]:
consumer_loans_df.drop(columns = ['title', 'emp_title'], inplace = True)

consumer_loans_df.isnull().sum() / len(consumer_loans_df)

loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_length                     0.045054
home_ownership                 0.000000
annual_inc                     0.000009
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
purpose                        0.000000
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000062
earliest_cr_line               0.000062
inq_last_6mths                 0.000062
mths_since_last_delinq         0.536906
mths_since_last_record         0.865666
open_acc                       0.000062
pub_rec                        0.000062
revol_bal                      0.000000
revol_util                     0.000729
total_acc                      0.000062
initial_list_status            0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_pymnt_d                   0.000806
last_pymnt_amnt                0.000000
last_credit_pull_d             0.000090
collections_12_mths_ex_med     0.000311
mths_since_last_major_derog    0.787739
acc_now_delinq                 0.000062
tot_coll_amt                   0.150715
tot_cur_bal                    0.150715
total_rev_hi_lim               0.150715
dtype: float64

This leaves us with a cleaned loan data that can be further preprocessed for the probability of Default Model.

In [32]:
print(f"The number of columns in the cleaned loan data set: {len(consumer_loans_df.columns)}")

The number of columns in the cleaned loan data set: 47

In [33]:
# save the cleaned data set to /processed_data

processed_data_dir = "processed_data/"

consumer_loans_df.to_csv(processed_data_dir + 'loan_data_clean_20(07-14).csv', index=False)

-------
### Pre-processing Data for the PD Model: `loan_data_clean_20(07-14)`
-----

Next we move on to look at the cleaned dataset in detail and pre-process some columns that could be useful for the PD model.

In [34]:
loan_df = pd.read_csv(processed_data_dir +'loan_data_clean_20(07-14).csv')

In [35]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 47 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loan_amnt                    466285 non-null  int64
 1   funded_amnt                  466285 non-null  int64
 2   funded_amnt_inv              466285 non-null  float64
 3   term                         466285 non-null  object
 4   int_rate                     466285 non-null  float64
 5   installment                  466285 non-null  float64
 6   grade                        466285 non-null  object
 7   sub_grade                    466285 non-null  object
 8   emp_length                   445277 non-null  object
 9   home_ownership               466285 non-null  object
 10  annual_inc                   466281 non-null  float64
 11  verification_status          466285 non-null  object
 12  issue_d                      466285 non-null  object
 13  loan_status                  466285 non-null  object
 14  pymnt_plan                   466285 non-null  object
 15  purpose                      466285 non-null  object
 16  addr_state                   466285 non-null  object
 17  dti                          466285 non-null  float64
 18  delinq_2yrs                  466256 non-null  float64
 19  earliest_cr_line             466256 non-null  object
 20  inq_last_6mths               466256 non-null  float64
 21  mths_since_last_delinq       215934 non-null  float64
 22  mths_since_last_record       62638 non-null   float64
 23  open_acc                     466256 non-null  float64
 24  pub_rec                      466256 non-null  float64
 25  revol_bal                    466285 non-null  int64
 26  revol_util                   465945 non-null  float64
 27  total_acc                    466256 non-null  float64
 28  initial_list_status          466285 non-null  object
 29  out_prncp                    466285 non-null  float64
 30  out_prncp_inv                466285 non-null  float64
 31  total_pymnt                  466285 non-null  float64
 32  total_pymnt_inv              466285 non-null  float64
 33  total_rec_prncp              466285 non-null  float64
 34  total_rec_int                466285 non-null  float64
 35  total_rec_late_fee           466285 non-null  float64
 36  recoveries                   466285 non-null  float64
 37  collection_recovery_fee      466285 non-null  float64
 38  last_pymnt_d                 465909 non-null  object
 39  last_pymnt_amnt              466285 non-null  float64
 40  last_credit_pull_d           466243 non-null  object
 41  collections_12_mths_ex_med   466140 non-null  float64
 42  mths_since_last_major_derog  98974 non-null   float64
 43  acc_now_delinq               466256 non-null  float64
 44  tot_coll_amt                 396009 non-null  float64
 45  tot_cur_bal                  396009 non-null  float64
 46  total_rev_hi_lim             396009 non-null  float64
dtypes: float64(29), int64(3), object(15)
memory usage: 167.2+ MB

Notice that some attributes has `dtype` object when we expect them to be numerical. First we filter the columns that have an object dtype

In [36]:
bool_map = loan_df.dtypes == type(object)

object_cols = [key for key, _ in bool_map.items() if bool_map[key] == True]

Now, we look at the description of some suspicious attributes that should not be an `object` dtype: `term` and `emp_length`.

In [37]:
col_desc_dict['term']

'The number of payments on the loan. Values are in months and can be either 36 or 60.'

In [38]:
col_desc_dict['emp_length']

'Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. '

In [39]:
loan_df.term.unique()

array([' 36 months', ' 60 months'], dtype=object)

In [40]:
loan_df.emp_length.unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

We first deal with the messy strings in `emp_length` column:

In [41]:
def parse_emp_length(val):
    # Check if the value is the string 'nan' (case insensitive) or other invalid string
    if isinstance(val, str) and val.strip().lower() == 'nan':
        return 0
    # Check for '< 1 years' or other similar cases
    if '<' in str(val):
        return 0
    # Extract digits and convert to integer
    digits = ''.join(filter(str.isdigit, str(val)))
    return int(digits) if digits else 0         # Convert to float (to handle "< 1")

In [42]:
loan_df['emp_length_years'] = consumer_loans_df.emp_length.apply(parse_emp_length)

In [43]:
loan_df.emp_length_years.unique()

array([10,  0,  1,  3,  8,  9,  4,  5,  6,  2,  7])

We can use the same helper function above `parse_string` to deal with the `term` column as it filters the part of a string that has digits (0-9) and turns it into an integer:

In [44]:
loan_df['term_in_months'] = loan_df.term.apply(parse_emp_length)

loan_df.term_in_months.unique()

array([36, 60])

and the drop the original columns:

In [45]:
loan_df = loan_df.drop(columns=['emp_length', 'term'])

Next we have a look at `earliest_cr_line` and loan issue date `issue_d`, they are given in the MMM-YY format.

In [46]:
loan_df['earliest_cr_line'].head()

0    Jan-85
1    Apr-99
2    Nov-01
3    Feb-96
4    Jan-96
Name: earliest_cr_line, dtype: object

In [47]:
col_desc_dict['earliest_cr_line']

"The month the borrower's earliest reported credit line was opened"

In [48]:
loan_df['earliest_cr_line_dt'] = pd.to_datetime(consumer_loans_df.earliest_cr_line, format = "%b-%y")

loan_df.earliest_cr_line_dt.max()

Timestamp('2068-12-01 00:00:00')

Maximum timestamps look way into the future. This is because `pd.to_datetime()` uses "pivot year 69" logic when parsing 2-digit years:

- `00` to `68` → 2000–2068

- `69` to `99` → 1969–1999

To fix the issue, we can find the actual max year, where the earliest credit line is generated, since our data suppose to include data up to 2014, it should be somewhere near and before 2014. For this we can check if there is any entry in the data looping backwards from 2014, and set a cut-off year above which we will modify the dates (e.g from 2055 to 1955), when there is actually a `credit_line_dt` entry

In [49]:
years_to_loop = [f'201{i}' for i in range(5)]

for year in years_to_loop:
    
    print(year, len(loan_df.earliest_cr_line_dt[loan_df.earliest_cr_line_dt == year]))

2010 268
2011 161
2012 0
2013 0
2014 0

This suggests that we can take the cut-off year to be 2011. In other words, we modify the timestamps that has a year > 2011 and do nothing the rest as below:

In [50]:
loan_df.earliest_cr_line_dt = loan_df.earliest_cr_line_dt.apply(lambda d: d.replace(year=d.year - 100) if d.year > 2011 else d)

In [51]:
loan_df.earliest_cr_line_dt.max(), loan_df.earliest_cr_line_dt.min()

(Timestamp('2011-11-01 00:00:00'), Timestamp('1944-01-01 00:00:00'))

In [52]:
# drop earliest_cr_line

loan_df = loan_df.drop(columns='earliest_cr_line')

Next we parse the dates in the `issue_d` column:

In [53]:
col_desc_dict['issue_d']

'The month which the loan was funded'

In [54]:
loan_df['issue_d_dt'] = pd.to_datetime(loan_df.issue_d, format = "%b-%y")

loan_df.issue_d_dt.max(), loan_df.issue_d_dt.min()

(Timestamp('2014-12-01 00:00:00'), Timestamp('2007-06-01 00:00:00'))

In [55]:
# drop the original 

loan_df = loan_df.drop(columns = 'issue_d')

#### Feature Engineering: Imputing the rest of data frame with missing values 
-------

There are some attributes in the data that have a small portion of missing values, we can benefit from these features for modeling PD. Let's have a look at them, to see what we can do.

In [56]:
loan_df.isna().sum()[loan_df.isna().sum() > 0]

annual_inc                          4
delinq_2yrs                        29
inq_last_6mths                     29
mths_since_last_delinq         250351
mths_since_last_record         403647
open_acc                           29
pub_rec                            29
revol_util                        340
total_acc                          29
last_pymnt_d                      376
last_credit_pull_d                 42
collections_12_mths_ex_med        145
mths_since_last_major_derog    367311
acc_now_delinq                     29
tot_coll_amt                    70276
tot_cur_bal                     70276
total_rev_hi_lim                70276
earliest_cr_line_dt                29
dtype: int64

In [57]:
col_desc_dict['earliest_cr_line']

"The month the borrower's earliest reported credit line was opened"

`earliest_cr_line_dt` is a column we created pre-processing the original!

In [58]:
col_desc_dict['earliest_cr_line_dt'] = "The date the borrower's earliest reported credit line was opened"

del col_desc_dict['earliest_cr_line']

In [59]:
missing_cols = loan_df.isna().sum()[loan_df.isna().sum() > 0]

for col, num_mis in missing_cols.items():
    
    print(f"{col} -- # of missing vals {num_mis} | {col_desc_dict[col]} ")

annual_inc -- # of missing vals 4 | The self-reported annual income provided by the borrower during registration.
delinq_2yrs -- # of missing vals 29 | The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
inq_last_6mths -- # of missing vals 29 | The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
mths_since_last_delinq -- # of missing vals 250351 | The number of months since the borrower's last delinquency.
mths_since_last_record -- # of missing vals 403647 | The number of months since the last public record.
open_acc -- # of missing vals 29 | The number of open credit lines in the borrower's credit file.
pub_rec -- # of missing vals 29 | Number of derogatory public records
revol_util -- # of missing vals 340 | Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
total_acc -- # of missing vals 29 | The total number of credit lines currently in the borrower's credit file
last_pymnt_d -- # of missing vals 376 | Last month payment was received
last_credit_pull_d -- # of missing vals 42 | The most recent month LC pulled credit for this loan
collections_12_mths_ex_med -- # of missing vals 145 | Number of collections in 12 months excluding medical collections
mths_since_last_major_derog -- # of missing vals 367311 | Months since most recent 90-day or worse rating
acc_now_delinq -- # of missing vals 29 | The number of accounts on which the borrower is now delinquent.
tot_coll_amt -- # of missing vals 70276 | Total collection amounts ever owed
tot_cur_bal -- # of missing vals 70276 | Total current balance of all accounts
total_rev_hi_lim -- # of missing vals 70276 | Total revolving high credit/credit limit
earliest_cr_line_dt -- # of missing vals 29 | The date the borrower's earliest reported credit line was opened

We can deal with the missing date in `earliest_cr_line_dt` later. Some attributes have the same amount of data missing. These might correspond to the same observations. 

All of these attributes above could be important for modeling PD. The `total_rev_hi_lim` is a subtle one referring to the maximum amount of money a borrower can access and re-borrow from a credit line or card, like a credit card or line of credit, before needing to re-apply for credit. A 15% of `total_rev_hi_lim` missing

In [61]:
percent_miss = (loan_df.isna().sum()[loan_df.isna().sum() > 0].total_rev_hi_lim/ len(loan_df)) * 100

print(f"percentage of the missing data for the 'total_rev_hi_lim': {percent_miss:.2f} % ")

percentage of the missing data for the 'total_rev_hi_lim': 15.07 %

In [62]:
loan_df.total_rev_hi_lim.describe()

count    3.960090e+05
mean     3.037909e+04
std      3.724713e+04
min      0.000000e+00
25%      1.350000e+04
50%      2.280000e+04
75%      3.790000e+04
max      9.999999e+06
Name: total_rev_hi_lim, dtype: float64

The distribution is quite skewed. On the other hand, missing values all correspond to loans given in 2011 and 2012. It is better to keep an indicator of this "missingness" while taking into account the skewness. We will thus introduce a variable that indicates the "missingness" while filling imputing the original variable with median. To reduce the sensitivity of the imputation to the extreme outliers we can use a log-transform and back in the process:

In [85]:
# variable to indicate missing vals 
loan_df['total_rev_hi_lim_missing'] = loan_df['total_rev_hi_lim'].isnull().astype(int)

# Log-transform to reduce skew, and Median imputation
log_median_val = (np.log1p(loan_df['total_rev_hi_lim'])).median()

# Inverse transform
loan_df['total_rev_hi_lim'].fillna(np.expm1(log_median_val), inplace=True)

/var/folders/q0/lz7h2q596yx70_f664l6gv8h0000gn/T/ipykernel_1077/415161526.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  loan_df['total_rev_hi_lim'].fillna(np.expm1(log_median_val), inplace=True)

In [86]:
loan_df.loc[:,'total_rev_hi_lim'].isna().sum()

0

- `annual_inc` has 4 missing values. We can replace them with the median/mean of the rest. In any case, it is highly unlikely that it will affect modeling. Mean is higher than median, so I choose to fill missing values with the median.

In [87]:
loan_df['annual_inc'].describe()

count    4.662810e+05
mean     7.327738e+04
std      5.496357e+04
min      1.896000e+03
25%      4.500000e+04
50%      6.300000e+04
75%      8.896000e+04
max      7.500000e+06
Name: annual_inc, dtype: float64

In [88]:
loan_df.loc[:,'annual_inc'] = loan_df['annual_inc'].fillna(loan_df['annual_inc'].median())

loan_df['annual_inc'].isnull().sum()

0

- `revol_util`
The revolving line utilization rate, also known as the credit utilization ratio, is a percentage that shows how much of your available credit you're currently using. It's calculated by dividing your total outstanding balance on revolving credit accounts by your total credit limit. This percentage is a key factor in determining your credit score.

In [89]:
loan_df.revol_util.describe()

count    465945.000000
mean         56.176947
std          23.732628
min           0.000000
25%          39.200000
50%          57.600000
75%          74.700000
max         892.300000
Name: revol_util, dtype: float64

Note that we can not use instances with non-NaN values of `revol_util` and the target to guide the imputing process. As this would lead to data leakage from the targets to features, undermining the capabilities of the model in the real world/out of sample data where such leak surely do not exist. However, this approach can be used if we were to split the data into train and test first. In this case, we could perform a target guided imputing using only the training set data and apply the same to test. I will omit the second approach here, just impute with the median of the non-NaN values.

In [91]:
loan_df.loc[:,'revol_util'] = loan_df.revol_util.fillna(loan_df.revol_util.median())

loan_df.revol_util.isna().sum()

0

Now we focus on the columns that have all 29 values missing:

In [92]:
equal_miss_cols = []
for col, num_mis in missing_cols.items():
    
    if num_mis == 29:
        
        print(f"{col} -- # of missing vals {num_mis} | {col_desc_dict[col]} ")
        equal_miss_cols.append(col)

delinq_2yrs -- # of missing vals 29 | The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
inq_last_6mths -- # of missing vals 29 | The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
open_acc -- # of missing vals 29 | The number of open credit lines in the borrower's credit file.
pub_rec -- # of missing vals 29 | Number of derogatory public records
total_acc -- # of missing vals 29 | The total number of credit lines currently in the borrower's credit file
acc_now_delinq -- # of missing vals 29 | The number of accounts on which the borrower is now delinquent.
earliest_cr_line_dt -- # of missing vals 29 | The date the borrower's earliest reported credit line was opened

In [93]:
null_mask = loan_df[equal_miss_cols].isnull()

# Check if all masks are the same row-wise
all_equal = null_mask.eq(null_mask.iloc[:, 0], axis=0).all(axis=1)

# Are they all True?
consistent_missing = all_equal.all()

print("Do all columns have missing values at the same rows?", consistent_missing)

Do all columns have missing values at the same rows? True

In [94]:
missing_df = loan_df[equal_miss_cols][loan_df[equal_miss_cols].isna().all(axis=1)]

indices  = missing_df.index 

missing_df

,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,total_acc,acc_now_delinq,earliest_cr_line_dt
42449,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42450,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42459,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42472,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42480,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42483,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42494,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42509,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42514,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42515,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42516,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42517,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42518,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42519,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42520,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42521,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42522,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42523,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42524,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42525,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42526,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42527,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42528,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42529,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42530,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42531,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42532,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42533,NaN,NaN,NaN,NaN,NaN,NaN,NaT
42534,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [95]:
pd.set_option('display.max_colwidth', None)
loan_df.loc[indices, ['loan_status']]

                                               loan_status
42449   Does not meet the credit policy. Status:Fully Paid
42450   Does not meet the credit policy. Status:Fully Paid
42459   Does not meet the credit policy. Status:Fully Paid
42472   Does not meet the credit policy. Status:Fully Paid
42480   Does not meet the credit policy. Status:Fully Paid
42483   Does not meet the credit policy. Status:Fully Paid
42494   Does not meet the credit policy. Status:Fully Paid
42509   Does not meet the credit policy. Status:Fully Paid
42514   Does not meet the credit policy. Status:Fully Paid
42515   Does not meet the credit policy. Status:Fully Paid
42516   Does not meet the credit policy. Status:Fully Paid
42517   Does not meet the credit policy. Status:Fully Paid
42518   Does not meet the credit policy. Status:Fully Paid
42519   Does not meet the credit policy. Status:Fully Paid
42520   Does not meet the credit policy. Status:Fully Paid
42521  Does not meet the credit policy. Status:Charged Off
42522   Does not meet the credit policy. Status:Fully Paid
42523  Does not meet the credit policy. Status:Charged Off
42524   Does not meet the credit policy. Status:Fully Paid
42525   Does not meet the credit policy. Status:Fully Paid
42526   Does not meet the credit policy. Status:Fully Paid
42527   Does not meet the credit policy. Status:Fully Paid
42528   Does not meet the credit policy. Status:Fully Paid
42529  Does not meet the credit policy. Status:Charged Off
42530   Does not meet the credit policy. Status:Fully Paid
42531   Does not meet the credit policy. Status:Fully Paid
42532   Does not meet the credit policy. Status:Fully Paid
42533   Does not meet the credit policy. Status:Fully Paid
42534   Does not meet the credit policy. Status:Fully Paid

All these attributes missing at the same instances which are mostly corresponding to good credits e.g `Does not meet the credit policy. Status: Fully Paid`. 

If non-zero, all these attributes would imply a negative credit score and a higher probability of default. So if they are missing it is because there are either zero records on them or missing their entire credit bureau report/the credit file pull failed. Since the missingness is systematic — all missing for the same borrowers — and might carry predictive signal. For example, these borrowers might represent edge cases (e.g. new immigrants, very young borrowers, off-grid individuals). 

With the exception `earliest_cr_dt` variable, we will thus treat them as follows: 

1. Create a “missing_credit_file” indicator to flag the borrowers for whom all bureau-derived features are missing: This variable is useful and interpretable — the model can treat these borrowers separately.
2. Impute missing numeric variables in the original variables to zero. Because if they had no credit history, zero may reflect “nothing on file.” Combined with the `missing_credit_file` flag, this gives the model both:

   - A “missingness” signal (via the flag), and

   - A fallback default that doesn’t crash the model.

In [96]:
# exclude "earliest_cr_line_dt"
equal_miss_cols = equal_miss_cols[:-1]

# if all rows are NA missing_credit_line is 1 otherwise 0
loan_df['missing_credit_line'] = loan_df[equal_miss_cols].isnull().all(axis=1).astype(int)

In [97]:
# check if the indices of the new variable when it is missing (1) matches with the indices of the instances
# of the original missing variables 

missing_df_new = loan_df[equal_miss_cols][loan_df[equal_miss_cols].isna().all(axis=1)]

(missing_df_new.index == loan_df['missing_credit_line'][loan_df['missing_credit_line'] == 1].index).all()

True

In [98]:
# Impute the missing values of the original variables with 0
loan_df.loc[:, equal_miss_cols] = loan_df[equal_miss_cols].fillna(0)

In [99]:
loan_df[equal_miss_cols].isna().sum()

delinq_2yrs       0
inq_last_6mths    0
open_acc          0
pub_rec           0
total_acc         0
acc_now_delinq    0
dtype: int64

In [100]:
loan_df.isna().sum()[loan_df.isna().sum() > 0]

mths_since_last_delinq         250351
mths_since_last_record         403647
last_pymnt_d                      376
last_credit_pull_d                 42
collections_12_mths_ex_med        145
mths_since_last_major_derog    367311
tot_coll_amt                    70276
tot_cur_bal                     70276
earliest_cr_line_dt                29
dtype: int64

`last_pymnt_d` and `last_credit_pull_d` are not so useful indicators for how reliable a borrower is plus these variables might have data leakage issues:

In [101]:
col_desc_dict['last_credit_pull_d']

'The most recent month LC pulled credit for this loan'

In [102]:
col_desc_dict['last_pymnt_d']

'Last month payment was received'

We will drop them!

In [103]:
loan_df.drop(columns = ['last_pymnt_d', 'last_credit_pull_d'], inplace = True)

- Checking `collections_12_mths_ex_med`:

In [104]:
col_desc_dict['collections_12_mths_ex_med']

'Number of collections in 12 months excluding medical collections'

In [105]:
loan_df.collections_12_mths_ex_med.unique()

array([ 0., nan,  1.,  2.,  4.,  3.,  6., 16., 20.,  5.])

In [106]:
# most values are 0 
loan_df.collections_12_mths_ex_med.describe()

count    466140.000000
mean          0.009085
std           0.108648
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          20.000000
Name: collections_12_mths_ex_med, dtype: float64

In [107]:
(loan_df.collections_12_mths_ex_med == 0).sum() / (len(loan_df)) * 100

99.12950234298766

Almost all the instances have a zero value for `collections_12_mths_ex_med`. This predictor might still be valuable, we will keep it for now to see its relevance for the target later. Since the predictor is highly skewed distribution, we fill its NA values with its median = 0, e.g no collections!

Having a second thought, if almost all the values are 0, how could the model learn? When we bin this variable later, we will see how useful it is in predicting the target class!

In [108]:
loan_df.loc[:, "collections_12_mths_ex_med"] = loan_df["collections_12_mths_ex_med"].fillna(0)

In [109]:
non_zero_indices = loan_df.collections_12_mths_ex_med[loan_df['collections_12_mths_ex_med'] != 0].index

In [110]:
pd.set_option('display.max_colwidth', None)
loan_df.loc[non_zero_indices, ["collections_12_mths_ex_med", 'loan_status']].tail(15)

        collections_12_mths_ex_med        loan_status
465174                         1.0            Current
465278                         2.0         Fully Paid
465390                         1.0        Charged Off
465455                         1.0         Fully Paid
465535                         1.0         Fully Paid
465609                         1.0            Current
465633                         1.0  Late (16-30 days)
465653                         1.0        Charged Off
465686                         2.0            Current
465726                         1.0            Current
465786                         1.0        Charged Off
465808                         1.0         Fully Paid
465843                         1.0        Charged Off
465875                         1.0            Current
466106                         1.0            Current

It does appear that non-zero values would only generate noise, but we will check this statement more quantitatively later on!

In [111]:
loan_df.isna().sum()[loan_df.isna().sum() > 0]

mths_since_last_delinq         250351
mths_since_last_record         403647
mths_since_last_major_derog    367311
tot_coll_amt                    70276
tot_cur_bal                     70276
earliest_cr_line_dt                29
dtype: int64

Let's focus on `tot_coll_amt`. 

- Total collection amount is a strong indicator of past credit distress.

- Even small non-zero values (like $100–$300) can signal prior defaults.

In [112]:
col_desc_dict['tot_coll_amt']

'Total collection amounts ever owed'

In [113]:
loan_df.tot_coll_amt.describe()

count    3.960090e+05
mean     1.919135e+02
std      1.463021e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      9.152545e+06
Name: tot_coll_amt, dtype: float64

In [114]:
# again most of the total_coll_amt is zero 
(loan_df.tot_coll_amt == 0).sum() / len(loan_df) * 100

74.25909047042045

70K missing values probably indicate there was never collection amount owed for those instances, so we can fill the missing values with the median, i.e with 0! However, since the missing values are 15 percent or so of the total instances, the model can also benefit from a flag that indicated missing instances, this way the model may distinguish genuine zero `totl_coll_amt` values (which are 75 percent of the total) and imputed zero's some of which might not be genuine. In summary, there might be some useful information from the binary flag we may generate.

In [115]:
# binary flag variable 

# Binary flag: 1 if missing, 0 otherwise
loan_df['tot_coll_amt_missing'] = loan_df['tot_coll_amt'].isnull().astype(int)

In [116]:
# zero is actually the median!
loan_df.loc[:, "tot_coll_amt"] = loan_df["tot_coll_amt"].fillna(0)

Now, we deal with `tot_cur_bal`: Here we will do the same, first generate a binary flag variable to indicate missing instances and impute with the median!

In [117]:
col_desc_dict['tot_cur_bal']

'Total current balance of all accounts'

In [118]:
loan_df.tot_cur_bal.describe()

count    3.960090e+05
mean     1.388017e+05
std      1.521147e+05
min      0.000000e+00
25%      2.861800e+04
50%      8.153900e+04
75%      2.089530e+05
max      8.000078e+06
Name: tot_cur_bal, dtype: float64

In [119]:
# missing flag variable

loan_df['tot_cur_bal_missing'] = loan_df['tot_cur_bal'].isnull().astype(int)

In [120]:
# impute the missing vals in the original variable by median of the rest
loan_df.loc[:, "tot_cur_bal"] = loan_df["tot_cur_bal"].fillna(loan_df["tot_cur_bal"].median())

In [121]:
loan_df.isna().sum()[loan_df.isna().sum() > 0]

mths_since_last_delinq         250351
mths_since_last_record         403647
mths_since_last_major_derog    367311
earliest_cr_line_dt                29
dtype: int64

Recall that earlier we processed two raw columns to generate their dt versions: `earliest_cr_line_dt` and `issue_d_dt`.

In [122]:
loan_df[["earliest_cr_line_dt", "issue_d_dt"]][loan_df.earliest_cr_line_dt.isna() == True]

      earliest_cr_line_dt issue_d_dt
42449                 NaT 2007-08-01
42450                 NaT 2007-08-01
42459                 NaT 2007-08-01
42472                 NaT 2007-08-01
42480                 NaT 2007-07-01
42483                 NaT 2007-07-01
42494                 NaT 2007-07-01
42509                 NaT 2007-07-01
42514                 NaT 2007-06-01
42515                 NaT 2007-06-01
42516                 NaT 2007-06-01
42517                 NaT 2007-06-01
42518                 NaT 2007-06-01
42519                 NaT 2007-06-01
42520                 NaT 2007-06-01
42521                 NaT 2007-06-01
42522                 NaT 2007-06-01
42523                 NaT 2007-06-01
42524                 NaT 2007-06-01
42525                 NaT 2007-06-01
42526                 NaT 2007-06-01
42527                 NaT 2007-06-01
42528                 NaT 2007-06-01
42529                 NaT 2007-06-01
42530                 NaT 2007-06-01
42531                 NaT 2007-06-01
42532                 NaT 2007-06-01
42533                 NaT 2007-06-01
42534                 NaT 2007-06-01

In [123]:
col_desc_dict["issue_d"]

'The month which the loan was funded'

In [124]:
col_desc_dict["earliest_cr_line_dt"]

"The date the borrower's earliest reported credit line was opened"

Since the latter is missing for those instances, we fill them with the date at which the loan was funded.

In [125]:
filler_issue_d_df = loan_df[["issue_d_dt"]][loan_df.earliest_cr_line_dt.isna() == True]

missing_indices = filler_issue_d_df.index

loan_df.loc[missing_indices, "earliest_cr_line_dt"] = filler_issue_d_df.values

In [126]:
loan_df.isna().sum()[loan_df.isna().sum() > 0]

mths_since_last_delinq         250351
mths_since_last_record         403647
mths_since_last_major_derog    367311
dtype: int64

Last three to go!: `mths_since_last_delinq`, `mths_since_last_record`, `mths_since_last_major_derog`. 

Since all these are negative indicators for credit, we define flag variables that checks the presence of each:

In [127]:
loan_df.mths_since_last_major_derog.dtype

dtype('float64')

In [128]:
# non null values are 1, missing are 0
loan_df['delinquency_missing'] = loan_df['mths_since_last_delinq'].isnull().astype(int)
loan_df['record_missing'] = loan_df['mths_since_last_record'].isnull().astype(int)
loan_df['major_derog_missing'] = loan_df['mths_since_last_major_derog'].isnull().astype(int)

In [129]:
# we then fill the missing values with a large number to indicate missing may signal good credit 
# 240 months = 20 years passed since the last bad event
loan_df.loc[:,'mths_since_last_delinq'] = loan_df['mths_since_last_delinq'].fillna(240)
loan_df.loc[:,'mths_since_last_record'] = loan_df['mths_since_last_record'].fillna(240)
loan_df.loc[:,'mths_since_last_major_derog'] = loan_df['mths_since_last_major_derog'].fillna(240)

In [130]:
# no missing vals anymore!
loan_df.isna().sum()[loan_df.isna().sum() > 0]

Series([], dtype: int64)

In [132]:
# save a copy of the cleaned and imputed loan data

loan_df.to_csv(processed_data_dir + 'loan_data_clean_and_imputed_20(07-14).csv', index=False)